
{% extends 'base.html' %}

{% block title %} Carrito de Compras {% endblock %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/principal.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<section>

   <div style="display: grid; grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(2, 1fr);">

        <!-- Items del carrito -->
        <div class="d-flex justify-content-center" style="grid-column: span 2 / span 2; grid-row: span 2 / span 2;">
            <div class="blanco fmscenter" style="width: 60vw; height: 78vh; margin: 40px 5vw 30px 10vw; border-radius: 30px;">  
                <div id="CARRITO" style="height: 80%; width: 90%; overflow-x: hidden;">
                    <div>
                        {% if productos %}
                            {% for item in productos %}
                                <div class="card flex-md-row mb-4">
                                    <img class="card-img-right flex-auto d-none d-lg-block" style="width: 200px; height: 200px; margin: 10px; border: solid 1px black" src="{% static item.img %}">
                                    <div class="card-body d-flex flex-column align-items-start">
                                        <!-- Información del Producto -->
                                        <span><b> Producto: </b> {{ item.nombre }} </span> 
                                        <span><b> Marca: </b> {{ item.marca }} </span>
                                        <span><b> Cantidad: </b> {{ item.cantidad }}</span>
                                        <span><b> Precio: </b> ${{ item.precio_u }} </span>
                                        <span><b> Total: </b> ${{ item.subtotal }} </span>

                                        <!-- Formulario de acciones del producto -->
                                        <form method="POST" name="remove" action="{% url 'carrito/removeItem' item.id_detalle %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger" style="margin-top: 10px;">
                                                <i class="bi bi-trash"></i> Eliminar
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h2 class="card-img-right flex-auto d-none d-lg-block" style="width: 100%" >El carrito está vacío</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Resumen de la compra -->
        <div class="d-flex justify-content-center" style="grid-column-start: 3;">
            <span class="cafeO" style="width: 80%; margin: 40px 10vw 30px 0; border-radius: 30px; text-align: center; color: white;">
                <h2 style="margin: 10px;">Resumen de Compra</h2>
                <br>
                <span>
                    {% if productos %}
                        <b>Total: </b> ${{total}} </span>
                    {% else %}
                        <b>Total: </b> $0 </span>
                    {% endif %}
                    
                    <form method="POST" name="pagar" action="{% url 'carrito/iniciarCompra' %}">
                        {% csrf_token %}
                        <button style="margin:20px;" type="submit"> Continuar </button>
                    </form>
                </span>
            </div>
        </div>

    </div> 

</section>

<script src="{% static 'js/carrito.js' %}"></script>
{% endblock %}
